@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    letter-spacing: 2px;
    font-family: 'Rubik', 'Noto Sans TC', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.ask {
    line-height: 25px;
}

#submit {
    display: block;
    font-size: 20px;
    position: center;
    border: solid 1px black;
}


/*好的*/

#good_title {
    color: #e33f0f;
}

#essay.world {
    color: #e33f0f;
}

#essay .dragon {
    color: #e33f0f;
}

#essay .person {
    color: #e33f0f;
}


/*不好的*/

#bad_title{
    color: #00b16a;
}

#article .hate {
    color: #00b16a;
}

#essay .awful {
    color: #00b16a;
}

#essay .stupid {
    color: #00b16a;
}

#essay .fxck {
    color: #00b16a;
}

#essay .organ {
    color: #00b16a;
}


/*酷的*/

#cool_title {
    color: #0066ff;
}

#essay .happy {
    color: #0066ff;
}

#essay .vital {
    color: #0066ff;
}

#essay .quote {
    color: #0066ff;
}

#essay .win {
    color: #0066ff;
}
