<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:url" content="https://steward379.github.io/MurmurLine/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Your Website Title" />
	<meta property="og:description" content="Your description" />
	<meta property="og:image" content="https://steward379.github.io/MurmurLine/trash.jpg" />
	<!-- <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css"> -->
	<!-- <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<!-- <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js"></script> -->
	<!-- <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js"></script> -->
	<!-- <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-icons/foundation-icons.css"> -->
	<link rel="stylesheet" href="./foundation-icons/foundation-icons.css">
	<link rel="stylesheet" href="./foundation-5/css/foundation.min.css">
	<script src="./foundation-5/js/foundation.min.js"></script>
	<script src="./foundation-5/js/vendor/modernizr.js"></script>
	<script src="./foundation-5/js/vendor/jquery.js"></script>
	<script src="./foundation-5/js/foundation/foundation.alert.js"></script>
	<title>廢話產生器</title>
	<link <link href="main.css" rel="stylesheet" title="style">
	<script>
	document.write('<script src=./foundation-5/js/vendor/'
		+ ('__proto__' in {} ? 'zepto' : 'jquery')
		+ '.js><\/script>');
	</script>

	<script type="text/javascript">
			function dawn() {
					var things = document.getElementsByTagName('input');
					for (var i = 0; i < things.length; i++) {
							var singular = things[i];
							var eachname = singular.name;
							var newvalue = singular.value;
							var newthings = document.getElementsByClassName(eachname);
							for (var newthing in newthings) {
									var right = newvalue.match(/[0-9a-zA-Z]+/);
									if (right !== null && right.toString() === newvalue) {
											newvalue = ' ' + newvalue + ' ';
									}
									newthings[newthing].innerText = newvalue;
							}
					}
					document.getElementById("essay").style.display = "block";
					document.getElementById("success").style.display = "inline";
					return false;
			}
		</script>
		<script>
			function boom() {
				var g1 = ["international", "可以上狂新聞", "海濤法師"];
				var g2 = ["87賽亞人", "萌萌滴魯夫", "一拳抄人"];
				var g3 = ["川普", "黑暗小英", "普丁"];
				var g4 = ["拉低全台灣男生平均", "9487", "真的很棒"];
				var g5 = ["魯魯der", "素肚王子", "妖受讚"];
				var g6 = ["聞腳趾", "舔鼻屎", "摳肚臍"];
				var g7 = ["棒賽", "跳佛舞", "尻尻"];
				var g8 = ["鼻毛", "腳毛", "尾骨"];
				var g9 = ["睡覺", "吃", "耍廢"];
				var g10 = ["尻子玉", "藍尾", "gg惹"];
				var g11 = ["披特・宿", "晨曦", "史丹佛的 Paul"];
				var g12 = ["連續三天沒便秘", "背出一百句靜思語", "連續睡 30 小時"];
				var things =[g1,g2,g3,g4,g5,g6,g7,g8,g9,g10,g11,g12];
				for (i = 0; i < 12; i++) {
							var n = Math.floor(Math.random()*3);
					//     var name = things[i];
							document.getElementById("g1").value = g1[n];
							document.getElementById("g2").value = g2[n];
							document.getElementById("g3").value = g3[n];
							document.getElementById("g4").value = g4[n];
							document.getElementById("g5").value = g5[n];
							document.getElementById("g6").value = g6[n];
							document.getElementById("g7").value = g7[n];
							document.getElementById("g8").value = g8[n];
							document.getElementById("g9").value = g9[n];
							document.getElementById("g10").value = g10[n];
							document.getElementById("g11").value = g11[n];
							document.getElementById("g12").value = g12[n];
					}
			}
	</script>
</head>
<body>
	{{{body}}}

</body>
</html>
