<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://murmurline-generate.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="直銷頭銜產生器" />
    <meta property="og:description" content="國際廢話線鉅獻。部分源碼來自「萌萌產生器」" />
    <meta property="og:image" content="https://murmurline-generate.herokuapp.com/trash.jpg" />
    <!-- <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css"> -->
    <!-- <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <!-- <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js"></script> -->
    <!-- <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js"></script> -->
    <!-- <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-icons/foundation-icons.css"> -->
    <link rel="stylesheet" href="./foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="./foundation-5/css/foundation.min.css">
    <script src="./foundation-5/js/foundation.min.js"></script>
    <script src="./foundation-5/js/vendor/modernizr.js"></script>
    <script src="./foundation-5/js/vendor/jquery.js"></script>
    <script src="./foundation-5/js/foundation/foundation.alert.js"></script>
    <title>廢話產生器</title>
    <link <link href="main.css" rel="stylesheet" title="style">
    <script>
        document.write('<script src=./foundation-5/js/vendor/' +
            ('__proto__' in {} ? 'zepto' : 'jquery') +
            '.js><\/script>');
    </script>

    <script type="text/javascript">
        function dawn() {
            var things = document.getElementsByTagName('input');
            for (var i = 0; i < things.length; i++) {
                var singular = things[i];
                var eachname = singular.name;
                var newvalue = singular.value;
                var newthings = document.getElementsByClassName(eachname);
                for (var newthing in newthings) {
                    var right = newvalue.match(/[0-9a-zA-Z]+/);
                    if (right !== null && right.toString() === newvalue) {
                        newvalue = ' ' + newvalue + ' ';
                    }
                    newthings[newthing].innerText = newvalue;
                }
            }
            document.getElementById("essay").style.display = "block";
            document.getElementById("success").style.display = "inline";
            return false;
        }
    </script>
    <script>
        function boom() {
            var g1 = ["International馬卡龍🌈", "948794狂", "戰鬥民族"];
            var g2 = ["過動魯夫🍌", "萌萌噠魯夫", "一拳抄人"];
            var g3 = ["淡水川普👋", "黑暗小英", "普丁"];
            var g4 = ["胎勾巴黎🗼", "9487", "真的很棒"];
            var g5 = ["魯魯der字體鼓勵員📖", "母胎單身", "妖受讚讚讚"];
            var g6 = ["摳腳垢的設計師🎨", "舔鼻屎下肚", "摳陳年肚臍"];
            var g7 = ["吐舌頭林俊傑🌟", "阮月嬌吃水餃", "大千嗆水管"];
            var g8 = ["輕柔鼻毛👃", "微笑尾骨", "憤怒小奈米"];
            var g9 = ["高級睡眠研究員😪", "吃到卡費爆掉", "耍廢看梗圖直播"];
            var g10 = ["奈米該邊 🔍", "戰神阿昌", "gg惹"];
            var g11 = ["朋友的禁臠 💥", "晨曦", "走路靠悲痛"];
            var g12 = ["跑酷普洱茶 🍵", "禁慾十五天", "連續睡 30 小時"];
            var things = [g1, g2, g3, g4, g5, g6, g7, g8, g9, g10, g11, g12];
            for (i = 0; i < 12; i++) {
                var n = Math.floor(Math.random() * 3);
		var m = Math.floor(Math.random() * 3);
		var g = Math.floor(Math.random() * 3);
                //     var name = things[i];
                document.getElementById("g1").value = g1[n];
                document.getElementById("g2").value = g2[m];
                document.getElementById("g3").value = g3[g];
                document.getElementById("g4").value = g4[n];
                document.getElementById("g5").value = g5[m];
                document.getElementById("g6").value = g6[g];
                document.getElementById("g7").value = g7[n];
                document.getElementById("g8").value = g8[m];
                document.getElementById("g9").value = g9[g];
                document.getElementById("g10").value = g10[n];
                document.getElementById("g11").value = g11[m];
                document.getElementById("g12").value = g12[g];
            }
        }
    </script>
</head>
<body>
	{{{body}}}

</body>
</html>
