<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=1582988938686904";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="row">
    <div class="medium-12 columns">
        <div class="panel">
            <br>
            <img src="trash.jpg" alt="murmurline" width=200px>
            <h2 class="subheader">直銷頭銜產生器 <a class="fi-social-facebook" href="https://www.facebook.com/murmurline/"></a>
          <a class="fi-social-github" href="https://github.com/steward379"></a></h2>
            <div class="fb-share-button" data-href="https://murmurline-generate.herokuapp.com" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmurmurline-generate.herokuapp.com%2F&amp;src=sdkpreparse">
                    <button type="button" class="button secondary round tiny fi-social-facebook">分享到 facebook</button></a>
            </div>
            <h3><small>歡迎使用各種英文台語中文夾雜，會更有說服力呦。</small></h3>
            <br>
            <ul class="button-group stack-for-small even-6">
                <li><a id="murmur" class="a" href="https://www.facebook.com/murmurline/"><button type="button" class="button round tiny">去廢話線</button></a></li>
                <li><a id="source" class="a" href="https://cornguo.nlplab.tw/temp/mengmeng/"><button type="button" class="button success round tiny">源碼：萌萌產生器</button></a></li>
                <li><a id="dont" class="a" href="https://www.facebook.com/aliceHkitchen/"><button type="button" class="button alert round tiny">半夜不要按</button></a></li>
                <!-- <li class="fb-share-button" data-href="https://murmurline-generate.herokuapp.com" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmurmurline-generate.herokuapp.com%2F&amp;src=sdkpreparse">
                        <button type="button" class="button secondary round tiny fi-social-facebook">分享到 facebook</button></a>
        </div>
        </li> -->
            </ul>
        </div>
    </div>
</div>
<form id="things" onsubmit="javascript:dawn(); return false;">
    <div id="complete" class="row">
        <button id="trigger" type="button" class="button warning round expand" onclick="javascript:boom();return false">一鍵完成</button>
    </div>
    <div id="questions" class="row">
        <div id="good things" class="medium-4 columns large-4 medium-6 small-12 columns">
            <ul id="good" class="pricing-table">
                <li>
                    <h3 class="fi-like" id="good_title"> Good Stuff </h3>
                </li>
                <br/>
                <li class="ask">形容很厲害 </br>ex.International<input id="g1" name="world" value=""></input><br /></li>
                <li class="ask">很強的動漫角色 </br>ex.萌騎低魯夫<input id="g2" name="dragon" value=""></input><br /></li>
                <li class="ask">很狂的真實人物 </br>ex.川普<input id="g3" name="person" value=""></input><br /></li>
            </ul>
        </div>
        <div id="bad things" class="medium-4 columns large-4 medium-6 small-12 columns">
            <ul id="bad" class="pricing-table">
                <li>
                    <h3 class="fi-skull" id="bad_title"> Bad Stuff </h3>
                </li>
                <br/>
                <li class="ask">比喻很討厭或反諷 </br>ex.萌萌噠<input id="g4" name="hate" value=""></input><br /></li>
                <li class="ask">形容很廢 </br>ex.魯魯der<input id="g5" name="awful" value=""></input><br /></li>
                <li class="ask">講句很蠢的事 </br>ex.摳腳垢<input id="g6" name="stupid" value=""></input><br /></li>
                <li class="ask">有點髒或白痴的動作 </br>ex.棒賽<input id="g7" name="fxck" value=""></input><br /></li>
                <li class="ask">雞肋的部位 </br>ex.鼻毛<input id="g8" name="organ" value=""></input><br /></li>
            </ul>
        </div>
        <div id="cool things" class="medium-4 columns large-4 medium-6 small-12 columns">
            <ul id="cool" class="pricing-table">
                <li>
                    <h3 class="fi-trophy" id="cool_title"> Cool Stuff </h3>
                </li>
                <br/>
                <li class="ask">講個做了會很開心的事</br>ex.睡覺<input id="g9" name="happy" value=""></input><br /></li>
                <li class="ask">很重要的部位或人 </br>ex.富爸爸<input id="g10" name="vital" value=""></input><br /></li>
                <li class="ask">講一位最好的朋友 </br>ex.披特・宿<input id="g11" name="quote" value=""></input><br /></li>
                <li class="ask">講句完成後會很屌的事 </br>ex.耍廢<input id="g12" name="win" value=""></input><br/></li>
            </ul>
        </div>
    </div>
    <div id="go" class="row">
        <input id="submit" type="submit" value="廢話連篇" class="button alert expand round"></input>
        <div data-alert id="success" class="alert-box success radius  medium-4 columns" style="display:none;">
            <strong>成功了！</strong> 整個地球因為你，又產生了一句廢話。真是可喜可賀，認同請廣傳。
            <!-- <a class="close">&times;</a> -->
        </div>
    </div>
</form>
<hr>
<div id="show" class="row">
    <div id="essay" style="display:none;" class="medium-12 columns">
        總而言之，這是一種<span class="world"></span>高度的廢話：我說現在的人，都有一股<span class="hate"></span>味，實在是太<span class="awful"></span>......87 分不能再高了。要是世界上有<span class="dragon"></span>之類的人就好了，一拳就可以完勝偏偏就沒有R！連 <span class="person"></span> 等級的咖都沒有！藍瘦香菇。哎，假的！我<span class="organ"></span>業障重啊。反正，我很喜歡一句話，海水退潮了，就知道誰沒有<span
            class="vital"></span>。而且
        <span class="quote"></span>也說過，「<span class="win"></span>的基礎，必須建立在<span class="stupid"></span>上面。」我沈痛的呼籲大家，不要再<span class="happy"></span>了，潮魯der。認同請<span class="fxck"></span>。
    </div>
    <h6> 分享到臉書給朋友們玩玩吧 ^o^ </h6>
    <div class="fb-share-button" data-href="https://murmurline-generate.herokuapp.com" data-layout="box_count" data-size="large" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmurmurline-generate.herokuapp.com%2F&amp;src=sdkpreparse">
            <button type="button" class="button secondary round tiny fi-social-facebook">分享到 facebook</button></a>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90700815-1', 'auto');
  ga('send', 'pageview');

</script>
